/* :root {
  --main-background-color: #e5e5e5;
  --main-black-color: #212121;
  --main-white-color: #ffffff;
  --text-color: #757575;
  --logo-hover-color: #2196f3;
  --transition-origin: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}
/* .button {
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  
  background-color: var(--logo-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
} */

/* .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */ 

/* HEADER */
/* .header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;  
} */

/* логотип в header*/

/* .logo {
  display: block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-hover-color);
  text-decoration: none;
}
.header_logo {
  margin-right: 93px;
  padding: 24px 0;
}
.header_logo--studio {
  color: var(--main-black-color);
} */

/* навигация */

/* .navigation_list {
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation_item {
  position: relative;
  margin-right: 50px;
}
.navigation_item:last-child {
  margin-right: 0;
}
.navigation_link {
  display: block;
  padding: 32px 0;

  transition: color var(--transition-origin);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
  text-decoration: none;
}
.navigation_link:hover,
.navigation_link:focus {
  color: var(--logo-hover-color);
}
.navigation_link--current {
  color: var(--logo-hover-color);
}
.navigation_link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-hover-color);
} */

/* контакты */

/* .contact {
  margin-left: auto;
}
.contact_list {
  display: flex;
  align-items: center;
  list-style: none;
}
.contact_item:not(:last-child) {
  margin-right: 30px;
}
.contact_link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;

  transition: color var(--transition-origin);
}
.contact_link:hover,
.contact_link:focus {
  color: var(--logo-hover-color);
}
.contact_icon {
  margin-right: 10px;
  fill: currentColor;
} */

/* MAIN */

/*страница СТУДИЯ */

/* секция HERO */

/* .hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .hero_title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
} */
.hero_button {
  padding: 10px 32px;
  min-width: 200px;
}

/* секция Наши Преимущества */

.best_list {
  display: flex;
  justify-content: center;

  list-style: none;
}
.best_item {
  width: 270px;
}
.best_item:not(:last-child) {
  margin-right: 30px;
}
.best_subitem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
}
.best_icon {
  display: block;
}

.best_name {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-black-color);
}
.best_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* секция Чем Мы Занимаемся */

.services {
  padding-top: 0;
}
.sevices_title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.services_list {
  display: flex;
  list-style: none;
}
.services_item:not(:last-child) {
  margin-right: 30px;
}
.services_subitem {
  position: relative;
}
.services_name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;  
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* секция Наша Команда */

.team {
  background-color: #f5f4fa;
}
.team_title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.team_list {
  display: flex;

  list-style: none;
}
.team_item:not(:last-child) {
  margin-right: 30px;
}
.team_item {
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team_subitem {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team_name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.team_text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.messenger {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;  
}
.messenger_item:not(:last-child) {
  margin-right: 10px;
}
.messenger_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  
  transition: background-color var(--transition-origin)
}
.messenger_link:hover,
.messenger_link:focus {
  background-color: var(--logo-hover-color);
}
.messenger_icon {
  fill: #afb1b8;
  transition: fill var(--transition-origin);
}
.messenger_link:hover .messenger_icon,
.messenger_link:focus .messenger_icon {
  fill: var(--main-white-color);
}

/* секция Постоянные клиенты */

.customer_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-black-color);
}
.customer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}
.customer_item:not(:last-child) {
  margin-right: 30px;
}

.customer_link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border var(--transition-origin);
}
.customer_link:hover,
.customer_link:focus {
  border: 1px solid var(--logo-hover-color);
}
.customer_icon {
  fill: #afb1b8;

  transition: fill var(--transition-origin);
}
.customer_link:hover .customer_icon,
.customer_link:focus .customer_icon {
  fill: var(--logo-hover-color);
}

/* страница ПОРТФОЛИО */

/* кнопки */

.grid-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  list-style: none;
}
.grid-buttons_item:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio {
  padding: 6px 22px;
  text-align: center;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-black-color);
  cursor: pointer;

  transition: background-color var(--transition-origin), color var(--transition-origin),          box-shadow var(--transition-origin);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--logo-hover-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* список работ */

.grid-cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}
.grid-cards_item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.grid-cards_item:nth-child(3n) {
  margin-right: 0;
}
.grid-cards_item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.grid-cards_link {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--transition-origin);
}
.grid-cards_link:hover,
.grid-cards_link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);  
  transition: transform var(--transition-origin);

  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;  
  letter-spacing: 0.03em;  
  color: var(--main-white-color);
}
.grid-cards_link:hover .overlay_text,
.grid-cards_link:focus .overlay_text {
  transform: translateY(0);
}
.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;  
}
.description_title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}

.description_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-block {
  margin-right: 70px;
}
/*  логотип в footer*/

.footer_logo {  
  margin-bottom: 20px;
}
.footer_logo--studio {
  color: var(--main-white-color);
}

/* адрес и контакты */

.address_list {
  list-style: none;
}
.address_item:not(:last-child) {
  margin-bottom: 9px;
}
.address_map,
.address_contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  text-decoration: none;
}
.address_contact {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-origin);
}
.address_contact:hover,
.address_contact:focus {
  color: var(--logo-hover-color);
}

/* ПРИСОЕДИНЯЙТЕСЬ */

.join_title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join_list {
  display: flex;
  list-style: none;
}
.join_item:not(:last-child) {
  margin-right: 10px;
}
.join_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color var(--transition-origin);
}
.join_link:hover,
.join_link:focus {
  background-color: var(--logo-hover-color);
}
.join_icon {
  fill: var(--main-white-color);
}
/* Подпишитесь на рассылку */

.subscride {
  margin-left: auto;
}
.subscride_title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.subscride_form {
  display: flex;
}
.subscride_input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  background-color: #2F303A;
  color: var(--main-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscride_input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscride_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
  min-width: 200px;   
}
.subscride_icon {
  margin-left: 10px;
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);

  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill var(--transition-origin);

  border-radius: 50%;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover {
  fill: var(--logo-hover-color);
}

/* форма заполнения в модальном окне */

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;
}

.modal-form_name {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.modal-form_label,
.textarea_label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form_input {
  cursor: pointer;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition-origin);
}

.modal-form_input:hover,
.modal-form_input:focus {
  border-color: var(--logo-hover-color);
}

.modal-form_input:focus-within {
  border-color: var(--logo-hover-color);
}

.modal-form_icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill var(--transition-origin);
}
.textarea {
  margin-bottom: 20px;
}
.textarea_comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition-origin);
}

.textarea_comment:hover,
.textarea_comment:focus {
  border-color: var(--logo-hover-color);
}

.textarea_comment:focus-within {
  border-color: var(--logo-hover-color);
}

.textarea_comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5)
}


.modal-form_input:hover + .modal-form_icon,
.modal-form_input:focus + .modal-form_icon {
  fill: var(--logo-hover-color);
}

.modal-form_input:focus-within + .modal-form_icon {
  fill: var(--logo-hover-color);
}

.checkbox {
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.checkbox_lable {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox_input {
  appearance: none;
}

.checkbox_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  border: 1px solid var(--main-black-color);
  border-radius: 4px;
}

.checkbox_input:checked + .checkbox_wrapper {
  background-color: var(--logo-hover-color);
  border: transparent;
}

.checkbox_link {
  color: var(--logo-hover-color);
}

.modal-form_button {
  min-width: 200px;
  padding: 10px 55px; 
}