.modal-form_label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form_input {
    cursor: pointer;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition-origin);
}

.modal-form_input:hover,
.modal-form_input:focus {
    border-color: var(--logo-hover-color);
}

.modal-form_input:focus-within {
    border-color: var(--logo-hover-color);
}

.modal-form_icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill var(--transition-origin);
}
.modal-form_input:hover + .modal-form_icon,
.modal-form_input:focus + .modal-form_icon {
    fill: var(--logo-hover-color);
}

.modal-form_input:focus-within + .modal-form_icon {
    fill: var(--logo-hover-color);
}