.textarea {
    margin-bottom: 20px;
}

&_label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

&_comment {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition-origin);
}

&_comment:hover,
&_comment:focus {
    border-color: var(--logo-hover-color);
}

&_comment:focus-within {
    border-color: var(--logo-hover-color);
}

&_comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5)
}