.contact {
    margin-left: auto;
}

&_list {
    display: flex;
    align-items: center;
    list-style: none;
}

&_item:not(:last-child) {
    margin-right: 30px;
}

&_link {
    display: flex;
    align-items: center;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;

    transition: color var(--transition-origin);
}

&_link:hover,
&_link:focus {
    color: var(--logo-hover-color);
}

&_icon {
    margin-right: 10px;
    fill: currentColor;
}